html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url("hyroglifics.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.save-note {
    display: none;
}

.icons i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

.note-textarea,
.note-title {
    color: black;
    width: 100%;
    outline: none;
    border: none;
}

.note-textarea {
    resize: none;
    height: calc(100% - 63px);
    padding-top: 15px;
    color: black;
}

.note-title {
    height: 50px;
    margin-top: 13px;
    font-size: 3rem;
}

.note-title:read-only,
.note-textarea:read-only {
    color: black;
}

.list-container .card {
    height: calc(100vh - 70px);
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.list-container {
    padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-container i {
    font-size: 1.1rem;
    cursor: pointer;
}

.list-container .list-group-item {
    border-left: none;
    border-right: none;
    padding: 20px;
    cursor: pointer;
}

.card,
.list-group-item,
.note-title,
.note-textarea,
.navbar,
.bg-dark {
    background-color: transparent;
    /* opacity: 0.1; */
    color: black;
}

.navbar-brand {
    color: black;
}

.navbar {
    color: black;
    /* border: black; */
    border-bottom: 1px solid black;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip>span {
    visibility: hidden;
    opacity: 0;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: .6em;
    position: absolute;
    z-index: 4;
    bottom: 135%;
    width: 250%;
    margin-left: -125%;
    left: 125%;
    transition: opacity 0.3s;
}

.tooltip>span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    border-width: 12px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover>span {
    visibility: visible;
    opacity: 1;
}

.tooltip-page-top {
    position: relative;
    display: inline-block;
}

.tooltip-page-top>span {
    visibility: hidden;
    opacity: 0;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: .6em;
    position: absolute;
    z-index: 4;
    top: 135%;
    /* width: 250%; */
    margin-left: -250%;
    left: 125%;
    transition: opacity 0.3s;
}

.tooltip-page-top>span::after {
    content: " ";
    position: absolute;
    bottom: 95%;
    left: 50%;
    margin-left: -12px;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-page-top:hover>span {
    visibility: visible;
    opacity: 1;
}

.tooltip-page-left {
    position: relative;
    display: inline-block;
}

.tooltip-page-left>span {
    visibility: hidden;
    opacity: 0;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: .6em;
    position: absolute;
    z-index: 4;
    top: 100%;
    /* width: 250%; */
    margin-left: -100%;
    left: 125%;
    transition: opacity 0.3s;
}

.tooltip-page-left>span::after {
    content: " ";
    position: absolute;
    bottom: 95%;
    left: 50%;
    margin-left: -12px;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-page-left:hover>span {
    visibility: visible;
    opacity: 1;
}